@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<link href="~/css/Home.css" rel="stylesheet" />


<div class="text-center col-lg-12">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="col-lg-12">
    <div class="row justify-content-center">
        <div class="col-md-4 adminButtons addPmTool">Add PM Tool</div>
        <div class="col-md-4 adminButtons addFeatures">Add Features</div>
        <div class="col-md-4 adminButtons setFeatures">Set Features</div>
       @* <div class="col-md-3 adminButtons">Manage Users</div>*@

    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/js/Home.js"></script>