@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/Home.css" rel="stylesheet" />


<div class="text-center col-lg-12">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="col-lg-12">
    <div class="row justify-content-center">
        <div class="col-md-3 adminButtons">Add PM Tool</div>
        <div class="col-md-3 adminButtons">Add Feature Category</div>
        <div class="col-md-3 adminButtons">Set Features</div>
        <div class="col-md-3 adminButtons">Manage Users</div>

    </div>
</div>